@model E_shop_MVC.Web.InputModels.Product.ProductInputModel
@{
    ViewBag.Title = "AddProduct";
}
<h2>Products</h2>
<nav class="navbar navbar-inverse zrow">
    <ul class="nav navbar-nav col-md-8">
        <li>@Html.ActionLink("All Products", "Index", "Product")</li>
        <li>@Html.ActionLink("Search", "Search", "Product")</li>
        <li>@Html.ActionLink("Your products", "YourProducts", "Product")</li>
        <li>@Html.ActionLink("Add product", "AddProduct", "Product")</li>
    </ul>
</nav>

@using (Html.BeginForm("AddProductToDb", "Product", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        <div class="col-md-11">
            @Html.LabelFor(model => model.Title, new { @id = "tb-product-title", @class = "col-md-1 control-label" })
        </div>
        <div class="col-md-11">
            @Html.TextBoxFor(model => model.Title, new { @id = "tb-product-title", @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-11">
             @Html.LabelFor(model => model.Content, new { @id="tb-product-content", @class = "col-md-1 control-label" })
        </div>
        <div class="col-md-11">
            @Html.TextAreaFor(model => model.Content, new { @id = "tb-product-content", @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-11">
            @Html.LabelFor(model => model.Category, new {@id="tb-product-category" , @class = "col-md-1 control-label" })
        </div>     
        <div class="col-md-11">
            @Html.TextBoxFor(model => model.Category.Name, new { @id = "tb-product-category", @class = "form-control" });
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-11">
            @Html.LabelFor(model => model.Price, new { @id = "tb-product-price", @class = "col-md-1 control-label" })
        </div>      
        <div class="col-md-11">
            @Html.TextBoxFor(model => model.Price, new { @id = "tb-product-price", @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Add product" class="btn btn-primary btn-lg" />
    </div>
}
