@model E_shop_MVC.Web.InputModels.Message.MessageInputModel
@{
    ViewBag.Title = "SendMessage";
}
<h3>Send new message</h3>
@using (Html.BeginForm("AddMessageToDb", "Message", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        <div class="col-md-11">
            @Html.LabelFor(model => model.RecipientId, new { @id = "tb-message-recipient", @class = "col-md-1 control-label" })
        </div>
        <div class="col-md-11">
            @Html.TextBoxFor(model => model.RecipientId, new { @id = "tb-message-recipient", @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-11">
            @Html.LabelFor(model => model.Title, new { @id = "tb-message-title", @class = "col-md-1 control-label" })
        </div>
        <div class="col-md-11">
            @Html.TextBoxFor(model => model.Title, new { @id = "tb-message-title", @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-11">
            @Html.LabelFor(model => model.Content, new { @id = "tb-message-content", @class = "col-md-1 control-label" })
        </div>
        <div class="col-md-11">
            @Html.TextAreaFor(model => model.Content, new { @id = "tb-message-content", @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Send message" class="btn btn-primary btn-lg" />
    </div>
}